#svg_tree {
	background: none;
}

.node {
	cursor: pointer;
}

.node circle {
	fill: #fff;
	stroke: steelblue;
	stroke-width: 2px;
}

.node text {
	font: 12px sans-serif;
	fill: darkslategrey;
}

.link {
	fill: darkslategrey ;
	stroke: #ccc;
	stroke-width: 2px;
}