#svg_tree {
	background: none;
}

.node {
	cursor: pointer;
}

.node circle {
	fill: #fff;
	stroke: steelblue;
	stroke-width: 2px;
}

.node text {
	font: 14px sans-serif;
	fill: black;
}

.link {
	fill: darkslategrey ;
	stroke: #ccc;
	stroke-width: 2px;
}